body{
  background-color:#4d4d4d;
  font-family:Helvetica,Arial;
}


#abd{
  background-color: #00994d;
  color:white;
    width:833px;
  
  padding-top: 100px;
    padding-right: 110px;
 
    padding-left: 170px;
  
  position:absolute;
  left:193px;
  top:40px;
}



a {text-decoration: none;
color:black;
font-family: sans-serif;

}

.contact-button{
  
  padding-top: 13px;
  padding-left:10px;
  width: 60px;
    height: 55px;
  border: 3px solid #666666;
 background-color:white;
  border-radius: 20px;
  
}

.contact-button:hover { 
    background-color: #808080;
}

.icon{
  cursor:pointer;
  position:relative;
  top:-2px;
  width:10x;
  height:10x;
}

button:focus  {
  outline: none;
}


.container {
    text-align:center;
    font-family: sans-serif;
    font-size:16px;
    
  color:white;
}

#popup{
  position:fixed;
  top:-1px;
  left:-1px;
  width:100%;
}

h3{
 color:white;
  font-family:Helvetica,Arial;
  
  font-size:20px;
  
}

#btnpop{
  position:relative;
  top:-35px;
  left:430px;
  
}

.bp{
  background-color:black;
  color:white;
  padding-left:10px;
  font-size:20px;
  border: 3px solid black;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  width:400px;/* or 950px */
}

main{

justify-content: space-around;
}

.headpage{
    background-color:#00995c;
    color: #fff;
    text-align: right;
    padding: 70px 10% 50px;
    align-items: flex-end;
    align-content: space-around;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end; 
    justify-content: space-around;

}

#profile{
      border-radius: 50%;
    margin: 30px 0 10px;
    max-width: 80%;
    height: auto;
    width: 250px;
}

main .headpage .intro-text {
    max-width: 675px;
    text-align: center;
    margin-bottom: 30px;
}

#desc{
       font-size: 1.15em;
  }


@media (min-width: 1023px){
.headpage{
    padding-top: 90px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
  }

  #abt {
    text-align: right;
    font-family: Helvetica,Arial;
    font-size: 20px;
    color: white;
  }

  .intro-text {
    text-align: right;
    width: 610px;
  }
}

@media screen and (max-width: 768px) {
/* For mobile phones: */
  body{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
  }

 #about{
  text-align:left;
  font-family:Helvetica,Arial;
  font-size:20px;
  width:400px;
  color:white;

}

  .page{
  text-align: left;
  background-color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 

  font-family: Monospace;

  padding:0px 0px 20px 0px !important;
}

  #profile{
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
  width:180px;
  
 background-color:white;
  border-radius: 110px;
}

  .port{
  padding-top: 20px;
    
    
    height: auto;
 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
  
   #btns{
 width: 100px;
  display: block;

  margin: 0 auto;

}

h2{
 color:black;
  font-family:Helvetica,Arial;
  text-align:center;
  font-size:50px;
  
     max-width: 700%; 
}

}


@media only screen and (min-width: 768px) {
   /* For desktop: */
  .page{
  text-align: left;
  background-color: white;
    
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 

  font-family: Monospace;
  
  
  margin-bottom: 70px;
  padding:0px 0px 20px 0px !important;
}

.headpage{
background-color:#00995c;

margin-bottom:100px;
}
  .port{
 
  width:392px;
  height: 226px;
    margin: 0 auto;
     position:relative;
  
  left:10px;
  margin-bottom: 10px;
  margin-right: 10px;
}



  #about{
  text-align:left;
  font-family:Helvetica,Arial;
  font-size:20px;
  width:400px;
  color:white;
  
}


  #ab {
height: 3px;
  width:500px;

background-color: white;
border: none;
}
  
  #btns{
 width: 350px;
  display: block;
  

}
  
   h2{
 color:black;
  font-family:Helvetica,Arial;
  text-align:center;
  font-size:50px;
  
     max-width: 700%; 
}
   
 

}


@media(max-width: 992px) {
        .container {
            padding: 0px !important;
      }
}

