body{
  background-color:#4d4d4d;
  font-family:Helvetica,Arial;
}


#abd{
  background-color: #00994d;
  color:white;
    width:833px;
  
  padding-top: 100px;
    padding-right: 110px;
 
    padding-left: 170px;
  

}

#abt {
    text-align: center;
    font-size:  2em;
    color: white;
    margin-bottom:90px;
  }

.defs-only {
  position: absolute;
  height: 0; width: 0;
  overflow: none;
  left: -100%;
}



a {text-decoration: none;
color:black;
font-family: sans-serif;

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */


.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}


.contact-button{
  
  padding-top: 13px;
  padding-left:10px;
  width: 40px;
  height: 40px;
  border: 0px;
 background-color:white;
  border-radius: 50px;
  
}

.contact-button:hover { 
    background-color: #808080;
}

.icon{
  cursor:pointer;
  margin: 0;
  margin-bottom:10px;
   
  width:20px;
  height:20px;
}

button:focus  {
  outline: none;
}


.container {
    text-align:center;
    font-family: sans-serif;
    font-size:16px;
    
  color:white;
}

#popup{
margin-bottom: 0px;
}

h3{
 color:white;
  font-family:Helvetica,Arial;
  
  font-size:20px;
  
}

#btnpop{
  position:relative;
  top:-35px;
  left:430px;
  
}

.bp{
  background-color:black;
  color:white;
  padding-left:10px;
  font-size:20px;
  border: 3px solid black;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.headpage{
    background-color:#00995c;
    color: #fff;
    text-align: right;
    justify-content: space-around;
    font-family: Monospace;
    height: 100vh;
}

.headpage .intro-text {
    max-width: 675px;
    text-align: center;
    margin-bottom: 30px;
    transform: translate(0, 50%);
}

#desc{
       font-size: 1.15em;
  }

  .page{
  text-align: left;
  background-color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  font-family: Monospace;
  margin-bottom: 70px;
  padding-bottom: 100px;
}

@media  (min-width: 1023px){

* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

.grid-sizer,
.grid-item {
  width: 33.333%;
}


.headpage{
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
  }

  h1{
  font-size:55px;
  }

  h2{
  margin-top:60px;
  }

  .intro-text {
    text-align: right;
    width: 610px;
  }
}

@media  (max-width: 768px) {
/* For mobile phones: */
  

 #about{
  text-align:left;
  font-family:Helvetica,Arial;
  font-size:20px;
  width:400px;
  color:white;

}

.grid-sizer,
.grid-item {
  width: 100%;
}

  .port{
  padding-top: 20px;
    
    
    height: auto;
 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
  
   #btns{
 width: 100px;
  display: block;

  margin: 0 auto;
  margin-top:5px;

}

h2{
 color:black;
  font-family:Helvetica,Arial;
  text-align:center;
  font-size:50px;
  
     max-width: 700%; 
}

}


@media  (min-width: 768px) {

  #about{
  text-align:left;
  font-family:Helvetica,Arial;
  font-size:20px;
  width:400px;
  color:white;
  
}

.grid-sizer,
.grid-item {
  width: 33.333%;
}


  #ab {
height: 3px;
  width:500px;

background-color: white;
border: none;
}
  
  #btns{
 width: 350px;
  display: block;
  margin-top:30px;
  margin-bottom:30px;
  

}
  
   h2{
 color:black;
  font-family:Helvetica,Arial;
  text-align:center;
  font-size:50px;
  
     max-width: 700%; 
}
   
 

}
